:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* fonts.css */
@font-face {
  font-family: 'FingerPaint';
  src: url('./fonts/FingerPaint-Regular.ttf') format('truetype');
}

.cardSubHeader {
  text-align: left;
}

.canvas {
  background: var(--background);
}
